<html>
<title>UserDetails</title>
<head>

</head>
{% extends 'sample.html' %}
<body>
{% block 'container' %}
<h1 align=center>USER DETAILS</h1>
<center><table width=90% class='table table-responsive' >
<tr align='center' class='success'>
	<td width=10%><b>{{"Name"}}</td>
	<td width=10%><b>{{"Email"}}</td>
	<td width=10%><b>{{"No.of Categories"}}</td>
	<td width=10%><b>{{"No.of Products"}}</td>
	<td width=10%><b>{{""}}</td>
	<td width=10%><b>{{""}}</td>
	<td width=10%><b>{{""}}</td>
	<td width=10%><b>{{""}}</td>
</tr>
{% for user,pc in z%}
<tr align=center class='active'>
	<td width=10%> {{user.name}}</td>
	<td width=10%>{{user.email}}</td>
	<td width=10%> {{user.category_set.all.count}}</td>
	<td width=10%>{{pc}}</td>

	<td width=10%><a href='./deluser/{{user.id}}/'><button class='btn btn-danger'>
	<span class="glyphicon glyphicon-trash">&nbsp;Delete</button></a></td>
	<td width=10%><a href="{% url 'product:edituser' user.id %}"> <button class='btn btn-primary'><span class="glyphicon glyphicon-edit">&nbsp;Edit</button></a></td>
	<td width=10%><a href='./userviewcat/{{user.id}}/'> <button class='btn btn-success'>
	<span class="glyphicon glyphicon-eye-open">&nbsp;View Categories</button></a></td>
	<td width=10%><a href='./userviewpro/{{user.id}}/'> <button class='btn btn-success'>
	<span class="glyphicon glyphicon-eye-open">&nbsp;View Products</button></a></td>

</tr>
{% endfor %}

</table>
<br>
<center><a href='./adduser/'> <button class='btn btn-info'>Add User</button></a>
<br><br>
<center><a href="{% url 'product:logout' %}"> <button class='btn btn-danger'><span class="glyphicon glyphicon-log-out">&nbsp;Logout</button></a>
{% endblock %}
</body>
</html>